@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  transition: all ease-in-out 0.15s;
}
.btn:hover{
  color: black;
  background: rgba(255, 255, 255, 0.5);
}

.btn:active{
  color: black;
  background: rgba(158, 157, 157, 0.5);
}

.btn-white{
  color: black;
  background: white;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all ease-in-out 0.15s;
}

.btn-white:hover{
  color: black;
  background: rgba(255, 255, 255, 0.5);
}

.btn-white:active{
  color: black;
  background: rgba(158, 157, 157, 0.5);
}

.btn-dark{
  color: white;
  background: rgba(255, 255, 255, 0);
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  border: white 1px solid;
  transition: all ease-in-out 0.15s;
}

.btn-dark:hover{
  color: white;
  background: rgba(255, 255, 255, 0.075);
}

.btn-dark:active{
  color: white;
  background: rgba(158, 157, 157, 0.5);
}

.bg-jumbo{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('./assets/image/web.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 4%;
}

.link{
  color: white;
  cursor:pointer;
  font-weight: 600;
  transition: all ease-in-out 0.13s;
}

.link:hover{
  text-decoration: underline;
  font-weight: 600;
  color: rgb(201, 201, 201);
}